@font-face{
  font-family: "raleway-bold";
  src: url("font/Raleway-Bold.ttf");
}

@font-face{
  font-family: "raleway-light";
  src: url("font/Raleway-Light.ttf");
}

body{
  background-color:rgb(238, 238, 238);
}

html{
    margin:0;
    padding: 0;
}

body{
    margin:0;
    padding:0;
    font-family: "raleway-light";
}
section{
    position: relative;
    width:82vw;
    height:100vh;
    padding-left: 9vw;
    padding-right: 9vw;
    padding-top:10vh;
}
h1{
    font-family:"raleway-bold";
    font-size: 92px;
    text-align: left;
    margin-top: 15vh;
    color:#414141;
    margin-bottom:0;
    letter-spacing: 5px;
    margin-left: 5vw;
}
h2{
    font-family:"raleway-bold";
    font-size: 32px;
    color:#414141;
    margin-bottom: 20px;
    margin-top: 15px
}
h4{
   font-family:"raleway-bold";
    font-size: 14px;
    color:#414141;
    letter-spacing:1px;
}
hr{
    background:#414141;
}
div{
    margin:0;
}
.drawAnim{
    /*display:none;*/
}
/*----------------------
---------HEADER---------
-----------------------*/
header{
    position: fixed;
    width: 100vw;
    height:20vh;
    top:0;
    z-index:10;
    transition: all 0.5s;
}
#logo{
    background: url('img/LogoGicram-Fond-transp-705x191.png') no-repeat;
    height: 7vh;
    background-size: contain;
    z-index: 9;
    position: relative;
    top:40px;
    left:20px;
    transition: all 0.5s;
}
.nav-down{
    height:20vh;
}
.nav-up{
    height:10vh;
}
.logo-down{
    height:7vh !important;
    top:40px !important;
}
.logo-up{
    height:4vh !important;
    top:20px !important;
}
.first-menu-up{
    display: none;
}
.first-menu-down{
    display: block;
}
.second-menu-up{
    display: block !important;
}
.second-menu-down{
    display: none;
}
nav{
    width:30vw;
    position: absolute;
    top:10px;
    right:20px;
}
#second-menu{
    display: none;
    width:32px;
    height:32px;
    position: absolute;
    top:10px;
    right:20px;
    background:url('img/autre-21.png');
    background-size:cover;
    z-index:9;
}
ul.first-menu{
    position: absolute;
    width:10vw;
    border-right: 1px solid;
    padding-right: 2vw;
    transition: all 0.5s;
}
li{
    font-size:10px;
    text-align: right;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    font-family: "raleway-bold";
    list-style: none;
    line-height: 2em;
}
li ul{
    position: absolute;
    width: 10vw;
    margin-left: 11vw;

}
li ul li{
        text-align: left;
}

/*----------------------
--------SECTION-1-------
-----------------------*/
section.section-intro{
    background: #F7F7F7;
}
.section-intro h1{
    /*display: none;*/
}
.section-intro video{
    width:82vw;
    height:46.1vw;
    position: relative;
    margin-top: 45vh;
    transform: translateY(-50%);
}
#title-welcome{
    font-family: "raleway-bold";
    text-align: center;
    position: absolute;
    margin: auto;
    z-index:1;
    width:82vw;
    height:46.1vw;
    /*background:rgba(247,247,247,0.7);*/
}
.cache{
    width:82vw;
    height: 6vw;
    position: absolute;
    z-index:2;
    background-color:#f7f7f7;
}
#top{
    top: 15vh;
}
#bottom{
    top: 85vh;
}
/*----------------------
--------SECTION-2-------
-----------------------*/
.section-dernieres-operations{
    background:#eee;
}
.section-dernieres-operations h1{
    color:#414141;
    margin-bottom:0;
    letter-spacing: 5px;
    margin-left: 5vw;
}
#marteau-warper{
    /*width:364px;*/
    width:552px;
    height:165px;
    position:absolute;
    left:30vw;
    /*margin-top:5vh;*/
}
/*----------------------
--------SECTION-3-------
-----------------------*/
.section-dernieres-operations-slider{
    background:#eee;
}
.slideshow-container{
  position: relative;
  width: 100%;
  height: calc(37.3vw + 128px); /* 128px la hauteur externe du slider-infos */
}
.slides{
    position: absolute;
    height: 37.3vw;
    width: 82vw;
}
.slider-infos{
    position: relative;
    opacity:1;
}
.slide-image{
    width: 0vw;
    height: 37.3vw;
    background-size: cover;
    margin-left: 6vw;
    margin-right: 6vw;
}
.actived-slide .slide-image{
    width: 70vw;
}
/*SLIDER CONTROLS*/
.arrows{
    width:18px;
    height:18px;
    position:absolute;
    bottom: calc(18.65vw - 9px);
      /* la valeur absolue pour height/2 */
      /* la valeur relative pour (slide-image)height/2 */
    background-size: cover;
    cursor: pointer;
}
.arrow-prev{
    background-image: url('img/prev.png');
    left: 5px;
}
.arrow-next{
   background-image: url('img/next.png');
   right: 5px;
}
.dot {
  cursor:pointer;
  height: 8px;
  width: 8px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}
/*----------------------
--------SECTION-4-------
-----------------------*/
section.section-actualite{
    background: #B8B8B8;
}
#oeil-warper{
    width:552px;
    height:165px;
    position:absolute;
    left:30vw;
}
/*----------------------
--------SECTION-5-------
-----------------------*/
.actu-warper{
    width:20.5vw;
    height:20.5vw;
    display: inline-block;
    margin:-2px;
    background:rgb(176,130,27);
    position: relative;
}
.pic1{
    background:url('img/actu1.jpg');
    background-size: cover;
}
.pic2{
    background:url('img/actu2.jpg');
    background-size: cover;
}
.gris1{
    background: rgb(184,184,184);
}
.gris2{
    background: rgb(249,249,249);
}
/*---PLUS--BUTTON---*/


/*-----WHITE-----*/
.plusW{
    width:32px;
    height:32px;
    position:absolute;
    top:20px;
    right:20px;
}
.horizW{
    width:32px;
    height:4px;
    background:#fff;
  -webkit-transform-origin: 50% 50%;
    -moz-transform-origin: 50% 50%;
    -o-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    transform: rotate(90deg);
    transform: -webkit-rotate(90deg);
    top: 38%;
    position: relative;
    transition: all 0.5s;
}
.verticW{
    width:32px;
    height:4px;
    background:#fff;
    position: relative;
    top: 25%;
    transition: all 0.5s;
}
.plusW:hover .verticW{
    transform: rotate(90deg);
}
.plusW:hover .horizW{
    transform: rotate(360deg);
}
.dateW{
    position: absolute;
    top:10px;
    left:20px;
}
.dateW p{
    color:#fff;
    font-family: "raleway-light";
    font-size:14px;
    letter-spacing: 1px;
}
h6.titleW{
    color: #fff;
    font-family: "raleway-bold";
    font-size: 14px;
    letter-spacing: 1px;
    margin: 0;
}
div.textW{
    position: absolute;
    left: 20px;
    top: 75px;
    width: 80%;
}
.textW p{
    color:#fff;
    font-family: "raleway-light";
    font-size:14px;
    letter-spacing: 1px;
}
/*----BLACK-----*/
.plusB{
    width:32px;
    height:32px;
    position:absolute;
    top:20px;
    right:20px;
}
.horizB{
    width:32px;
    height:4px;
    background:#000;
  -webkit-transform-origin: 50% 50%;
    -moz-transform-origin: 50% 50%;
    -o-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    transform: rotate(90deg);
    transform: -webkit-rotate(90deg);
    top: 38%;
    position: relative;
    transition: all 0.5s;
}
.verticB{
    width:32px;
    height:4px;
    background:#000;
    position: relative;
    top: 25%;
    transition: all 0.5s;
}
.actu-warper:hover .verticB{
    transform: rotate(90deg);
}
.actu-warper:hover .horizB{
    transform: rotate(360deg);
}
.actu-warper:hover .verticW{
    transform: rotate(90deg);
}
.actu-warper:hover .horizW{
    transform: rotate(360deg);
}

/*
.plusB:hover .verticB{
    transform: rotate(90deg);
}
.plusB:hover .horizB{
    transform: rotate(360deg);
}
*/
